*{
    margin: 0;
}
body{
    background-color: #261447;
}
.sidebar{
    background-color: #261447;
    color: #ff4365;
    grid-area: 1/1/3/2;
    height: 100vh;
    display: grid;
}
.tools div, .userOptions div{
    display: grid;
    grid-template-columns: 22px 1fr;
    margin-top: 20px;
    margin-left: 18.5px;
    align-items: center;
   
}
.tools a, .userOptions a{
    margin-left: 18.5px;
}
.logo div{
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-top: 20px;
    align-items: center;
}
.content{
    background-color: #ff6c11;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 9fr;
    
}
.content h2{
    margin-left: 20px;
    margin-top: 15px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 1fr 5fr; */
   
}
img{
    width: auto;
    height: 22px;
}
.logo img{
    width: auto;
    height: 60px;
}
.projects{
    
    display: grid;
    grid-area: 2/1/3/2;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,minmax(100px,400px));
    gap: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.projects>div{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    border-left: 4px solid yellow;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #2de3e698;
    padding: 10px;

}
.postIcons{
    justify-self: right;
}
.header{
    background-color: #1b179c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.header input{
    width: max(45vw,100px);
    margin-left: 15px;
    border: 1px solid white;
    border-radius: 8px;
}
.search{
    display: grid;
    grid-template-columns: 1fr 15fr;
    align-items: center;
}
.search img{
    margin-left: 30px;
}

.announcements, .trending{
    background-color: #2de3e698;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
}
#announcements, #trending{
    margin-left: 0;
    margin-top: 15px;
}
.profile{
    display: grid;
    grid-template-columns: 22px 22px 1fr;
    align-items: center;
    justify-self: end;
    gap: 15px;
    padding: 20px;
}
.actionButtons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 24px;
    padding: 20px;
    
}
.actionButtons button{
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 40px;
    padding: 8px;
    max-width: 75px;
}
.welcome{
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    margin-left: 25px;
  
}
.welcome img{
    width: 60px;
    height: auto;
  
}
.trending img{
    width: 40px;
    height: auto;
}
.trending>div{
    display: grid;
    grid-template-columns:40px 1fr;
    grid-template-rows: 50px;
    align-items: center;
}
.handleText{
    display: grid;
    grid-template-columns: 20px;
    
}